@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}

/* .input {
  @apply outline-none;

  &:focus {
    @apply focus:ring-0 focus:ring-offset-0;
  }
} */

*:focus {
  /* outline: 2px solid orange; */
  /* outline: 2px solid rgba(255, 255, 255, 0.5); */
  outline: 2px solid rgba(226, 232, 240, 0.5);
  /* outline: none; */
  /* border: 2px solid rgba(255, 255, 255, 0.5); */
  /* @apply shadow-md shadow-amber-200; */
  /* @apply shadow-md shadow-white/50; */
  /* @apply shadow-md shadow- white/30; */
  @apply shadow-lg shadow-slate-200/50;
}

*::selection {
  @apply bg-amber-400 text-zinc-900;
}
